/* Global Variables */
$main-500: #FE5101;
$main-400: #FE7434;
$main-300: #FE9767;
$main-200: #FEB99A;
$main-100: #FFDCCC;
$main-links: #130F40;
$primary-500: #0062FF;
$primary-400: #3381FF;
$primary-300: #99C0FF;
$info: rgb(180, 228, 182);
$warning: #FF2200; 
$main-padding: 3.75rem;
