// then import index as namespace also => @use './components/index' as *;
// @use './components/index' as *;
@use './abstracts/components/index' as *;

/* Footer Component */
%column {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

%row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

%button-transparent {
    background-color: transparent;
    border-radius: 6px;
    padding: 8px 12px;
    text-transform: capitalize;
    border: 2px solid #000;
    cursor: pointer;
    transition: 0.4s ease-out;
    align-self: flex-start;
}

.button-transparent {
    @extend %button-transparent;
    transition: 0.5s ease-out;
    &:hover {
        color: #FFF;
        background-color: $main-400;
    }
}


%input-gray {
    background-color: #EEE;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    color: #777;
    &:placeholder-shown {
        text-transform: capitalize
    }
}

.social-list {
    @extend %row;
    li {
        padding: 5px;
        background-color: #EEE;
        border-radius: 6px;
        a {
            i {
                font-size: 22px;
                color: $main-links;
                transition: 0.4s ease-out;
                &:hover { 
                    color: $main-500;
                }
            }
            
        }
    }
}


.links {
    li, span {
        text-transform: capitalize;
        font-size: 1.1rem;
        i {
            display: inline-block;
            padding-right: 15px;
            color: $main-400;
            transition: 0.5s ease-out;
        }
        &:hover {
            i {
                padding-right: 35px;
            }    
        }
    }
}

.input {
    @extend %input-gray;
}


footer {
    padding-top: 30px;
    > div.header {
        padding-inline: 15px;
        .column {
            @extend %column;
            padding: 15px 0;
            gap: 20px;
            p {
                font-size: 1.1rem;
                width: 250px;
                max-width: 100%;
                white-space: wrap;
            }
            h2 {
                text-transform: capitalize;
                font-size: 1.50rem;
                font-weight: 600;
                i {
                    color: $main-400;
                    margin-left: 8px;
                }
            }
        }
    }
    > p {
        text-align: center;
        text-transform: capitalize;
        white-space: wrap;
        padding: 12px;
        span {
            color: $main-400;
        }
    }
}

footer {
    form {
        @extend %column;
        .input-group {
            @extend %column;
            label {
                text-transform: capitalize;
                font-size: 1.1rem;
            }
        }
    }
}



@media (max-width: 576px) {
    footer {
        > div.header {
            .column {
                width: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;
                button {
                    align-self: center;
                }
                .column.links {
                    width: fit-content;
                    li,span {
                        align-self: flex-start;
                    } 
                }
            }
        }
    }
}

@media (min-width: 577px) and (max-width: 992px) { 
    footer {
        > div.header {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
            .column {
                flex: 1 0 50%;
                width: 50%;
            }
        }
    }
}


@media (min-width: 993px) and (max-width: 1200px) { 
    footer {
        > div.header {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 8px;
            .column {
                flex: 0 0 30%;
                width: 30%;
                * {
                    width: fit-content;
                }
            }
        }
    }
}

@media (min-width: 1201px) { 
    footer {
        > div.header {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
            .column {
                flex: 0 0 25%;
                width: 25%;
                * {
                    width: fit-content;
                }
            }
        }
    }
}