// @use './components/index' as *;
@use './abstracts/components/index' as *;

%column {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

%row {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

%button-transparent {
    background-color: #EEE;
    border: none;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    transition: 0.6s ease-out;
}

%button-transparent {
    @extend %button-transparent;
    &:hover {
        color: #FFF;
        background-color: $main-400;
    }
}


%input-gray {
    background-color: #EEE;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    color: #777;
    &:placeholder-shown {
        text-transform: capitalize
    }
}

// header => div.container => nav => (a > i) + (ul > li > a) + (form > label > input > i) + (div.buttons => button.bars - button.search - button.signup)


header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 
        0px 1px 3px 0px rgba(0,0,0,0.10), 
        0px 1px 2px 0px rgba(0,0,0,0.06);
    width: 100%;
    z-index: 100;
    height: 70px;
    > div.container {
        position: relative;
        padding-inline: 8px;
        padding-block: 20px;
        > nav {
            @extend %row;
            > a {
                flex: 20%;
                width: 20%;
                text-transform: capitalize;
                color: $main-links;
                font-size: 16px;
                font-weight: 600;
                > i {
                    color: $main-400;
                    font-size: 22px;
                    padding-right: 5px;
                }
            }
            > ul {
                flex: 90%;
                width: 90%;
                @extend %row;
                justify-content: center;
                margin-inline: 5px;
                gap: 14px;
                li > a {
                    text-transform: capitalize;
                    font-size: calc(0.50rem + 0.80vw);
                    transition: 0.5s ease-out;
                    &:hover, &.visible {
                        color: $main-500;
                    }
                }
            }
            > div.buttons {
                @extend %row;
                gap: 2px;
                button {
                    @extend %button-transparent;
                    padding: 0;
                    width: 40px;
                    aspect-ratio: 1 / 1;
                }
                button:nth-child(3) {
                    position: relative;
                    > span.badge {
                        padding: 6px;
                        border-radius: 75%;
                        position: absolute;
                        top: -18px;
                        right: -8px;
                        z-index: 12;
                        font-size: 0.75rem;
                        color: #FFF;
                        background-color: $warning;
                    }
                }
            }
            > form {
                &.openned {
                    transform-origin: left;
                    animation: fade-in 0.6s ease-out;
                    will-change: opacity, transform;
                        div.search-input {
                            position: absolute;
                            top: 40px;
                            right: 0px;
                            background-color: #FFF;
                            border: none;
                            border-radius: 6px;
                            padding-right: 15px;
                            width: 270px;
                            max-width: 280px;
                            &:focus-within {
                                border: 2px solid #000;
                        }
                        > input {
                            border: none;
                            outline: none;
                            border-radius: 6px;
                            padding: 15px 0px 15px 20px;
                            width: 270px;
                            max-width: 280px;
                        }
                        i {
                            font-size: 25px;
                            cursor: pointer;
                            position: absolute;
                            top: 25px;
                            right: 5px;
                            &:hover {
                                color: $main-400;
                            }
                        }
                    }
                }                
            }
        }
        > div.dropdown-list {
            > ul.dropdown-menu {
                position: absolute;
                top: 80px;
                right: 10px;
                background-color: #FFF;
                z-index: 100;
                border: none;
                border-radius: 6px;
                @extend %column;
                align-items: flex-start;
                gap: 10px;
                padding: 15px 15px;
                width: 300px;
                text-transform: capitalize;
                li > a {
                    text-transform: capitalize;
                    font-size: 1rem;
                    transition: 0.5s ease-out;
                    display: block;
                    border-radius: 4px;
                    &:hover {
                        color: $main-500;
                    }
                }
                &.openned {
                    transform-origin: left;
                    animation: fade-in 0.6s ease-out;
                    will-change: opacity, transform;
                }
            }
        }
        > form.login {
            position: absolute;
            top: 80px;
            right: 15px;
            background-color: #FFF;
            z-index: 100;
            border: none;
            border-radius: 6px;
            @extend %column;
            width: 300px;
            padding: 20px;
            h2 {
                font-size: 30px;
                font-weight: 600;
                text-transform: uppercase;
            }
            > div.info {
                width: 100%;
                > p {
                
                    text-align: left;
                    font-size: small;
                    color: #777;
                    text-transform: capitalize;
                    a {
                        color: $main-400;
                        font-size: small;
                        padding-left: 8px;
                        text-transform: capitalize;
                        &:hover {
                            color: $primary-500;
                        }
                    }
                }
            } 
            > div.inputs {
                width: 100%;
                @extend %column;
                gap: 5px;
                > input {
                    width: 100%;
                    @extend %input-gray;
                    color: $main-500;
                }
            } 
            > div.buttons {
                width: 100%;
                @extend %row;
                justify-content: space-between;
                gap: 8px;
                button {
                    width: 100%;
                    @extend %button-transparent;
                    padding-block: 8px;
                    text-transform: capitalize;
                    background-color: #fff;
                    border: 2px solid #000;
                    padding-inline: 20px;
                    &.clicked {
                        background-color: $main-400;
                        color: #fff;
                    }
                    &.sr-only {
                        position: absolute;
                        width: 1px;
                        height: 1px;
                        overflow: hidden;
                        white-space: nowrap;
                        margin: -1px;
                        padding: 0;
                        border: 0;
                        clip-path: inset(50%);
                        clip: rect(1px,1px,1px,1px);
                    }
                }
            } 
            &.openned {
                transform-origin: left;
                animation: fade-in 0.6s ease-out;
                will-change: opacity, transform;
            }
            + div.toast {
                background-color: rgba(255,255,255,0.6);
                box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10),
                0px 1px 3px 0px rgba(0,0,0,0.06);
                width: 300px;
                transition: visibility 0.3s ease-in;
                min-height: 85px;
                margin-left: 15px;
                position: absolute;
                top: 80px;
                border-bottom: 3px solid $main-300;
                z-index: 150;
                div {
                    padding: 8px 4px;
                    @extend %row;
                    justify-content: space-between;
                    h5 {
                        font-size: 18px;
                        font-weight: 600;
                        > i {
                            color: $main-400;
                            font-size: 22px;
                            padding-right: 4px;
                        }
                    }
                    button {
                        @extend %button-transparent;
                        padding: 4px;
                        > i {
                            font-size: 15px;
                        }
                    }
                }
                p {
                    margin-block: 8px;
                    font-size: 14px;
                    font-weight: 300;
                    text-align: center;
                    text-transform: capitalize;
                    white-space: wrap;
                }
                
                &.closed {
                    visibility: hidden;
                }
            }
        }
        > section.carts {
            max-height: 500px;
            overflow-y: auto;
            position: absolute;
            top: 80px;
            right: 15px;
            background-color: #FFF;
            z-index: 100;
            border: none;
            border-radius: 6px;
            @extend %column;
            width: fit-content;
            padding: 20px;
            > ul {
                width: 100%;
                li {
                    width: 100%;
                    font-size: 1rem;
                    @extend %row;
                    justify-content: space-between;
                    gap: 15px;
                    margin-block: 12px;
                    figure > img {
                        width: 80px;
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                    }
                    div.text {
                        text-align: left;
                        p:first-child > strong {
                            font-weight: 700;
                            font-size: 18px;
                            text-transform: uppercase;
                        }
                        p:nth-child(2) {
                            font-size: 16px;
                                > span {
                                font-size: 16px;
                                font-weight: 600;
                                padding-inline: 4px;
                            }
                        }
                    }
                    button {
                        background-color: transparent;
                        border: none;
                        color: #666;
                        font-size: 12px;
                        cursor: pointer;
                        &:hover {
                            color: $main-500;
                        }
                    }
                }
                & + p {
                    text-transform: capitalize;
                    > span {
                        font-weight: 500;
                        color: $main-400;
                    }
                } 
            }
            > ul + p + button {
                @extend %button-transparent;
                align-self: stretch;
                font-size: 1.25rem;
                font-weight: 500;
                text-transform: capitalize;
            }
            &.openned {
                transform-origin: left;
                animation: fade-in 0.6s ease-out;
                will-change: opacity, transform;
            }
        }
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(100px) translateZ(0);
    }
    100% {
        opacity: 1;
        transform: translateX(-100px) translateZ(0);
    }
}


@media (min-width: 768px) {
    header {
        > div.container {
            > nav {
                ul.dropdown-menu {
                    display: flex;
                }
                > div.buttons {
                    button.navbar-toggler-icon {
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    header {
        > div.container {
            > nav {
                ul.dropdown-menu {
                    display: none;
                }
                > div.buttons {
                    button.navbar-toggler-icon {
                        display: inline-block;
                    }
                }
            }
        }
    }
}